langgraph
crewai
langchain-anthropic
langchain-groq
langchain-openai
langchain-core
groq
python-dotenv
pandas
sqlalchemy
mysql-connector-python
psycopg2-binary
tqdm
ipython
langchain-google-genai
crewai-tools
rapidfuzz
